page-home {
    .grid
    {
        padding-left: 0;
    }

    .signup
    {
        background: #4a32bc;
        color: #ffffff;
    }

    .contactus
    {
        background: #ff1223;
        color: #ffffff;
    }
}
